@import "src/app/scss/_base.scss";
:host {
    flex-basis: 70%;
}
.cart-list {
    margin: 10px;
    padding: 10px;
    border: $border;
    border-radius: $border-radius;
    column-gap: 20px;
    background: $primary;
    align-items: center;
}

.checkout-button{
    margin: 10px;
    color: white;
    font-size: 24px;
    height: 50px;
    background-color: $secondary;
    border-radius: $border-radius;
}

.cancel-button{
    margin: 10px;
    color: white;
    font-size: 24px;
    height: 50px;
    background-color: $cancel;
    border-radius: $border-radius;
}
.cart-item{
    display: flex;
}

p{
    width: 20%;
}
